body{
	background-color: #a29389;
}

.jumbotron{
	background-image: url('./images/live.jpeg');
}

.scrape-button{
	margin-top: 9px;
}

.layer{
	background: rgba(152, 63, 0, 0.37);
	height: 32%;
    position: absolute;
    top: 0;
    width: 100%;
}
.header{
	position: relative;
	color: #fcffdb;
}

.panel-info>.panel-heading {
    color: #000000;
    background-color: #d8af8e;
    border-color: rgba(188, 232, 241, 0);
}

.panel-info {
    border-color: rgba(92, 128, 136, 0);
}

.panel-success>.panel-heading {
     color: #000; 
    background-color: #bedcb2;
    border-color: #d6e9c6;
}

.panel-success {
    border-color: rgba(214, 233, 198, 0);
}